@import 'pokeList.css';
@import 'header.css';
@import 'pokeRPS.css';
@import 'pokeBattle.css';
@import 'elementKey.css';

#bigBox {
    height: 70em;
    background-image: url('../assets/naturebackdrop.jpg');
    background-size: cover;
}