#pokeVSpoke {
    /* background-color: gray; */
    height: 20em;
    width: 37em;
    grid-column-start: 33;
    grid-row-start: 18;
    display: grid;
        grid-template: repeat(auto-fill, 1em)/repeat(auto-fill, 1em);
}

#choicePokemon {
    /* background-color: black; */
    height: 10em;
    width: 20em;
    grid-row-start: 11;
    grid-column-start: 7;
    display: grid;
        grid-template: repeat(auto-fill, 0.5em)/repeat(auto-fill, 0.5em);
}

#randomPokemon {
    /* background-color: white; */
        height: 10em;
        width: 20em;
        grid-column-start: 18;
        display: grid;
            grid-template: repeat(auto-fill, 0.5em)/repeat(auto-fill, 0.5em);
}

#yourPokeball {
    height: 7em;
    grid-row-start: 7;
    grid-column-start: 4;
}

#yourPokemonTitle {
    color: yellow;
    text-shadow: 2px 2px blue;
    font-weight: 700;
    width: 7em;
    grid-row-start: 2;
}

#choicePokemonID {
    height: 10em;
}